{
  "plugins": [
    "lodash"
  ],
  "presets": [
    "es2015"
  ],
  "env": {
    "test": {
      "plugins": [
        "__coverage__"
      ]
    },
    "production": {
      "compact": true
    }
  }
}
