{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions"
          ]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "lodash",
    "angularjs-annotate"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "> 5%"
              ]
            },
            "modules": false
          }
        ]
      ]
    }
  }
}
