{
    "rules": {
        "quotes": [2, "single", "avoid-escape"],
        "camelcase": [1, {
            "properties": "never"
        }],
        "no-underscore-dangle": 0,
        "no-shadow": [1, {
            "hoist": "never"
        }],
        "no-use-before-define": 0,
        "no-new": 0,
        "jsdoc/check-param-names": 1,
        "jsdoc/check-redundant-params": 1,
        "jsdoc/check-redundant-returns": 1,
        "jsdoc/newline-after-description": 1,
        "jsdoc/require-description-complete-sentence": 1,
        "jsdoc/require-param-description": 1,
        "jsdoc/require-param-types": 1,
        "jsdoc/require-return-types": 1
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "mocha": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "plugins": [
        "jsdoc"
    ]
}
