language: node_js
sudo: required
dist: trusty
node_js:
  - stable
  - '5'
  - '4'
before_install:
  - npm install -g npm yarn
install:
  - yarn
  - npm run postinstall
script:
  - npm run ci
after_script:
  - npm run coveralls

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

# For Chrome to work
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
